{# Check if we got some flash messages #}
{% if app.session.flashbag.peekAll()|length > 0 %}
    <div class="container">
        {# Loop all types of flash messages #}
        {% for type, messages in app.session.flashbag.all() %}
            {# For all flash messages with this type #}
            {% for idx, message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message|trans }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
