{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - {{ 'silex_user.registration.title'|trans }}{% endblock %}

{% block body %}

<p>{{ 'silex_user.registration.check_email'|trans({'%email%': user.email}) }}</p>

{% endblock %}
