{% extends 'layout.twig' %}

{% trans_default_domain 'silex_user' %}

{% block title %}{{ parent() }} - {{ 'registration.title'|trans }}{% endblock %}

{% block body %}

<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>

{% endblock %}
