vendor/
node_modules/
var/*
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
app/config/parameters.yml
web/assets/lib/
web/assets/css/*
web/assets/js/*
!web/assets/css/.gitkeep
!web/assets/js/.gitkeep
