app/config/parameters.yml
vendor/
node_modules/
var/*
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
public/assets/lib/*
!public/assets/lib/.gitkeep
public/assets/css/*
public/assets/js/*
!public/assets/css/.gitkeep
!public/assets/js/.gitkeep
