{% extends 'layout.twig' %}

{% trans_default_domain 'silex_user' %}

{% block title %}{{ parent() }} - {{ 'registration.title'|trans }}{% endblock %}

{% block body %}

<div class="ui container">
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
</div>

{% endblock %}
