parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_user: root
    database_password: ~
    database_name: silex

    mailer_host: 127.0.0.1
    mailer_port: 25
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: ~
    mailer_auth_mode: ~
