{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    <form action="{{ path('login_check') }}" method="POST" class="ui form error">
        {{ error }}
        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" value="">
        </div>

        <input type="submit" class="ui teal button">
    </form>
</div>

{% endblock %}
