<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    <title>{% block title %}Silex Skeleton{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'app/_navbar.twig' %}
{% endblock %}

{% block flash %}
    {% include 'app/_flash.twig' %}
{% endblock %}

{% block body %}{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
